{% extends 'website/base.html' %}

{% block content %}

<p class="fw-bold">Our Mission</p>
<p class="fw-normal">To administer, maintain and expand our programs and activities while providing spiritual wisdom, guidance and educational opportunities to strengthen the family nucleus. We are dedicated to promoting positive relationships with Islamic spiritual authorities, fostering open communication with the general public, mass media and other religious centers. We eradicate corruption through the enhancement of knowledge and participation of Muslim and non-Muslim individuals of all ages and gender.</p>
<p class="fw-bold">Our Vision</p>
<p class="fw-normal">We envision a vibrant and inclusive community that embraces the teaching of Islam and fostering personal and spiritual growth. We aim to construct and maintain facilities that are conducive to providing exceptional spiritual and educational services. Through our dedication, we aspire to be a beacon of light, promoting peace, understanding and harmony among diverse cultures and religions and make a lasting impact on society and inspire individuals to lead lives of purpose and service.  </p>
{% endblock %}