{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Help Page</h1>
    <p>Do you need help?</p>
    <p>Reach out to us</p>

    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Our Contacts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Phone</th>
                    <td>0114521175</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>ttumsa006@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Chairman's Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>Athman Yusuf</td> 
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>0111957062</td> 
                </tr>
                <tr>
                    <th>Email</th>
                    <td>athman001yusuf@gmail.com</td> 
                </tr>
            </tbody>
        </table>
    </div>

    
    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Treasurer's Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>Ahmed Majid</td> 
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>0114521175</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>amsjumaan@gmail.com</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
